@import '../../../../shared/theme/colors.scss';

.hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16px;
  height: 20px;

  >.bar {
    width: 100%;
    height: 2px;
    background-color: $primary;
    margin: 2px 0;
  }
}