<div class="carousel-card">
  <div class="checkbox {{isSelectedCard && 'checked'}}" (click)="toggleCheckCard()" ></div>
  <div class="main-body-card">
    <p class="product-name">name product</p>
    <p class="product-number">#lksjd9348439</p>
    <hr class="separator">
    <div class="balance-account">
      <p class="text">Ya cuentas con:</p>
      <p class="value">$234234234</p>
    </div>
  </div>
  <div class="container-description">
    <img src="../../../../assets/images/Happy.svg" alt="" class="icon-image"/>
    <p class="text-description">description</p>
  </div>
  <div class="color-stripe"></div>
</div>
