<div class="container-footer">
  <section class="left-section">
    <img src="../../../assets/images/logoSkandia.svg" alt="">
    <p>© 2019 Skandia</p>
    <div class="container-text">
      <p>PBX: <span>658 4000</span> / <span>484 1300</span></p>
      <p>Línea nacional <span>01 8000 517 526</span></p>
      <p>Línea Corporativa <span>658 4123</span></p>
      <p>Av. 19 # 109A - 30</p>
      <p>Bogotá D.C., Colombia</p>
      <p>Oficinas a nivel nacional</p>
    </div>
  </section>
  <section class="middle-section">
    <a href="">Términos y Condiciones Canales de Servicio</a>
    <a href="">Defensoría del Consumidor Financiero</a>
    <a href="">Protección de Datos</a>
    <a href="">Definiciones Generales – Auto declaración FATCA y CRS </a>
    <a href="">Recomendaciones de Seguridad</a>
    <a href="">Ley de Transparencia</a>
    <a href="">Mapa del sitio</a>
  </section>
  <section class="right-section">
    <img src="../../../assets/images/facebookl.svg" alt="">
    <img src="../../../assets/images/youtube.svg" alt="">
    <img src="../../../assets/images/twitter.svg" alt="">
  </section>
</div>
