<div class="container-header">
  <app-hamburger-menu (toggleSidebar)="handleToggleSidebar()" />
  <div class="container-sections">
    <section class="left-section">
      <img src="../../../assets/images/logoSkandia.svg" alt="Logo Skandia" />
      <hr class="separator" />
      <p class="text">Plan Financiero Digital - FPX</p>
    </section>
    <section class="right-section">
      <div class="nav-element">
        <img src="../../../assets/images/Happy.svg" alt="" class="icon-image">
        <a href="" class="header-link">Tu Financial Planner</a>
      </div>
      <div class="nav-element">
        <img src="../../../assets/images/hand3.svg" alt="" class="icon-image">
        <a href="" class="header-link">Aportes</a>
      </div>
      <div class="nav-element nav-questions">
        <img src="../../../assets/images/questions.svg" alt="" class="icon-image">
        <a href="" class="header-link questions-text">Preguntas <br>frecuentes</a>
      </div>
    </section>
  </div>
</div>
