<div class="recommended-card">
  <div class="container-top-card">
    <div class="top-elements">
      <p class="text">Ahorro e iversión</p>
      <p class="like"><b>♡</b></p>
    </div>
  </div>
  <div class="container-body-card">
    <div>
      <p class="decription-text">¡Fondo de inversión Colectiva,<br><b>la acción para potenciar tu <br/> capital y hacer real tu <br/> objetivo!</b></p>
    </div>
    <p class="more-text"><u>Conoce más</u></p>
    <div class="footer-text">
      <div class="item-text">
        <img src="../../../../assets/images/world.svg" alt="Icono de mundo">
        <p>Rentabilidades mínimas del <b>3% anuales</b></p>
      </div>
      <div class="item-text">
        <img src="../../../../assets/images/profile.svg" alt="Icono de perfil">
        <p><b>4.000 clientes</b> confían en este producto</p>
      </div>
    </div>
  </div>
  <div class="color-stripe"></div>
</div>