@import './mixins.scss';

$primary: #00C83C;
$secondary: #3F3F3F;
$tertiary: #FE9200;
$white: #FFFFFF;
$gray: #C4C7C4;
$gray-secondary: #EDEDED;
$gray-tertiary: #E2E2E2;

$bg-color: $white;
$font-color: $secondary;
$bg-sidebar: $gray-tertiary;