<div class="container-top-card">
  <section class="top-section-card">
    <div class="left-texts">
      <p class="title">Conocer mi sobrino</p>
      <p class="subtitle">Categoría: Bienestar</p>
    </div>
    <a href="" class="right-link">Revisar objetivo</a>
  </section>
  <section class="middle-section-card">
    <div class="container-item">
      <p class="title">En esta fecha:</p>
      <div class="container-description blue">
        <p>Diciembre/2022</p>
      </div>
    </div>
    <div class="container-item">
      <p class="title">Lograrás:</p>
      <div class="container-description yellow">
        <p>$6.000.000</p>
      </div>
    </div>
    <div class="container-item">
      <p class="title">
        <img src="../../../../assets/images/Icon awesome-star.png" alt="">
        Ya cuentas con:
      </p>
      <div class="container-description green">
        <p>$0</p>
      </div>
    </div>
  </section>
  <section class="bottom-section-card">
    <img src="../../../../assets/images/Icon awesome-check-circle.svg" alt="">
    <a href="">¡Asocia productos para monitorear su progreso!</a>
  </section>
  <img src="../../../../assets/images/imgTopcard.png" alt="" class="img-card">
</div>
