@import '../../../shared/theme/colors.scss';

.sidebar-page {
  display: flex;
  flex-direction: column;

  
  >.item {
    display: flex;
    align-items: center;
    column-gap: 17px;
    padding: 17px;
    cursor: pointer;

    >.img-icon {
      width: 16px;
      height: 16px;
    }

    >.text-item {
      font-size: 16px;
      line-height: 21px;
    }

    &:first-of-type {
      background-color: $primary;
      >.text-item {
        color: $white;
      }
    }
  }
}