@import './shared/theme/fonts.scss';
@import './shared/theme/colors.scss';

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  @extend .font-text;
  font-size: 10px;
  color: $font-color;
}

body {
  @extend .font-text;
  font-size: 1.3rem;
  background-color: $bg-color;
}