@import '../../../shared/theme/colors.scss';
@import '../../../shared/theme/fonts.scss';

.container-main-section {
  width: 100%;

  >.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../assets/images/bg-stars.png);
    padding: 25px;
    height: 277px;
    width: 100%;
    position: relative;

    >.go-home {
      display: flex;
      column-gap: 10px;
      align-self: flex-start;

      >a {
        @extend .font-description;
        color: $white;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.7rem;
      }
    }

    >.title-page {
      text-align: center;
      >.title {
        color: $white;
        font-size: 25px;
        font-weight: bold;
        line-height: 30px;
      }
      >.subtitle {
        @extend .font-description;
        color: $white;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  >.middle-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 150px 0 40px 0;

    >.title {
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 3rem;

      >span {
        color: $tertiary;
      }
    }

    >.subtitle {
      @extend .font-description;
      font-size: 16px;
      line-height: 24px;
    }

    >.associate-text {
      @extend .font-description;
      font-weight: bold;
      font-size: 16px;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }
}